/* By Uk */
@import 'mixin';

html {
    scroll-behavior: smooth
}


//BACKGROUND COLORS
$bgc: #ffffff;
$bgc1: #0A5055;
$how-txt: linear-gradient(90deg, #875C0D 0%, #F9EF7C 54%, #D4AA2A 100%);


@font-face {
    font-family: Zabritzkyes;
    src: url('../fonts/Zabritzkyes.ttf');
}

@font-face {
    font-family: Bodonio;
    src: url('../fonts/Bodonio.ttf');
}


@font-face {
    font-family: axiforma-Regular;
    src: url('../fonts/noah/axiforma-Regular.otf');
}

@font-face {
    font-family: axiforma-Light;
    src: url('../fonts/noah/axiforma-Light.otf');
}



@font-face {
    font-family: axiforma-SemiBold;
    src: url('../fonts/noah/axiforma-SemiBold.otf');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: axiforma-Regular;
    // background: #FAFBFC;
}


.heading {
    font-family: axiforma-Regular;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
    color: #282767;
}

.text {
    font-family: axiforma-Regular;
    font-size: 14px;
    color: #6D6B85;
}

.web-btn {
    min-width: 150px;
    height: 60px;
    font-size: 14px;
    font-family: axiforma-Regular;
    outline: none;
    border: 0px;
    line-height: 1;
    border-radius: 30px;
    cursor: pointer;
    transition: all 350ms ease;
    position: relative;
    // box-shadow: 0px 10px 25px rgba(108, 99, 255, 0.502);
}


/*-------------------------Header part------------------------------*/
// .navbar .collapsing.show,
// .navbar .navbar-collapse.show
// {
//     background-color: #010230;
// }


header {
    width: 100%;
    // height: auto;
    // position: sticky;
    // top: 0;
    // background-color: #fff;
    z-index: 999;
    padding: 0;
    margin: 0;

    .navbar {
        background-color: transparent;
        font-weight: 100;
        padding: 2% 6%;
        height: auto;
        top: 0%;
        z-index: 999;
        transition: all 300ms linear;

        @include xsm {
            padding: 5% 4%;
            top: 0;
        }

        @include sm {
            padding: 3% 4%;
            top: 0;
        }

        // @include md {
        //     padding: 2% 4%;
        //     top: 0;
        // }

        &.blackto {
            background-color: #EF658C;
            box-shadow: 0px 0 15px rgba(0, 0, 0, 0.05);
            top: 0;
            padding: 1% 6%;
            transition: all 300ms linear;

            @include xsm {
                padding: 3% 6%;
            }

            // padding: 1% 6%;
            .navbar-brand {
                // img{
                //     width: 140px;
                //     transition: all 300ms linear;
                // }

                .logo {
                    color: #ffffff;

                    @include xsm {
                        width: 100px;
                    }
                }

            }

            .custom-navbar-nav {
                .nav-link {
                    color: #ffffff !important;

                    &:hover {
                        color: #ffffff !important;
                    }
                }
            }
        }

        .navbar-toggler {
            color: #ffffff !important;
            outline: none;
        }

        .navbar-brand {
            padding: 0;

            .logo {
                // width: 140px;
                color: #EF658C;
                // color: #ffffff;
                font-family: Zabritzkyes;
                font-weight: 100;
                // text-transform: uppercase;
                font-size: 28px;
                margin-bottom: 0;

                // @include xsm {
                //     width: 100px;
                // }
            }

            .media-body {
                margin-left: -14px;
            }

            // h4 {
            //     color: #ffffff;
            //     font-family: Zabritzkyes;
            //     font-weight: 100;
            //     // text-transform: uppercase;
            //     font-size: 28px;
            //     margin-bottom: 0;
            //     // margin-top: 26px;
            // }

            // .logo-subname{
            //     color: #F9EF7C;
            //     line-height: 0.1;
            //     font-size: 11px;
            //     margin-bottom: 0;
            //     margin-left: 6px;
            // }
        }

        .custom-navbar-nav {
            position: relative;
            // flex-direction: row !important;
            // padding-right: 2%;
            margin-right: 2%;

            .nav-item {
                .nav-link {
                    padding: 0.5rem 1.5rem;
                    color: #EF658C;
                    font-size: 18px;
                    // font-family: axiforma-Regular;
                    font-family: Zabritzkyes;

                    // letter-spacing: 2px; 
                    &:hover {
                        color: #6C63FF;
                    }

                    @include xsm {
                        padding: .5rem .5rem;
                    }
                }
            }
        }

        .nav-btn {
            width: 90px;
            height: 35px;
            font-size: 14px;
            background: transparent;
            color: #ffffff;
            padding: 2% 0%;
            font-family: axiforma-Regular;
            outline: none;
            border: 1px solid transparent;
            border-radius: 4px;
            cursor: pointer;
            transition: all 350ms ease;

            &.nav-btn1 {
                font-family: axiforma-Regular;
                background-color: #F4CDC9;
                // box-shadow: 0px 10px 25px rgba(108, 99, 255, 0.502);
                margin-left: 15px;
                color: #000000;
            }

            &:hover {
                background-color: #F4CDC9;
                color: #000000;
            }

            @include xsm {
                height: 34px;
                margin-bottom: 9%;
            }

            @include sm {
                height: 34px;
                margin-bottom: 9%;
            }
        }
    }
}

// .navbar.blackto{
//     background-color: #20232C;
//     box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.5);
//     top: 0;
//     transition: all 300ms linear;
// }



// =====================================home
.home {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, #FAE2EA 0%, #FAE2EA 30%, #FFFFFF 100%);
    padding: 9% 0% 4% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include xsm {
        height: auto;
        padding-top: 17%;
        padding-bottom: 10%;
    }

    @include sm {
        height: auto;
        padding-top: 17%;
        padding-bottom: 10%;
    }

    // @include md{
    //     padding: 9% 0% 4% 0%;
    //     height: auto;
    // }
    .my-auto {
        margin-top: auto;
        margin-bottom: auto;
    }

    .home-content {
        width: 100%;
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;

        .home-title {
            font-family: Bodonio;
            font-size: 60px;
            color: #282767;
            // margin-bottom: 4%;
            margin: 4% 0%;

            @include xsm {
                // font-size: 30px;
                margin-bottom: 10px;
            }

            // @include sm{
            //     font-size: 35px;
            // }
            // @include md{
            //     font-size: 40px;
            // }
        }

        .home-subtitle {
            @extend .text;
            font-size: 22px;
            letter-spacing: 2px;
            margin-bottom: 4%;

            @include xsm {
                margin-top: 1%;
                font-size: 14px;
            }

            @include sm {
                margin-top: 12%;
                font-size: 16px;
            }

            @include md {
                // margin-top: 12%;
                font-size: 16px;
            }
        }

        .home-btn {
            @extend .web-btn;
            width: 45%;
            margin-bottom: 3%;
            background-color: #EF658C;
            // border: 1px solid #F8E3E1;
            color: #ffffff;
            transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

            &:hover {
                background-color: #282767;
                color: #ffffff;
                border-radius: 4px;
                transform: translateY(-10px);
            }

            // @include xsm{
            //     height: 34px;
            //     margin-bottom: 9%;
            // }
            // @include sm{
            //     height: 34px;
            //     margin-bottom: 9%;
            // }
        }

        .home-hr {
            margin: 1% 0%;
            width: 8%;
            margin-bottom: 0;
            border-color: #F4CDC9;
            border-width: 2px;
        }

        .home-link {
            color: #ffffff;
            font-size: 14px;
            margin: 1% 0%;
            font-family: axiforma-Regular;
            font-style: italic;
        }
    }

    .home-img {
        width: 100%;
        height: auto;
        text-align: center;

        @include xsm {
            text-align: center;
        }

        @include sm {
            text-align: center;
        }

        @include md {
            text-align: center;
        }

        img {
            width: 70%;
            animation: ror 15s linear infinite alternate;

            @include md {
                width: 90%;
            }
        }
    }
}
.rose1{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: auto;
    transform: rotate(180deg);
    z-index: 0;
}

.rose2{
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 10%;
    height: auto;
    // transform: rotate(90deg);
    // z-index: -1;
    // animation: rose2 15s linear 0s infinite;
}

.flower1{
    position: absolute;
    top: 10%;
    left: -20%;
    width: 40%;
    height: auto;
    // transform: rotate(90deg);
    z-index: -1;
    animation: flower1 15s linear 0s infinite;
}
.aloevera{
    position: absolute;
    bottom: 0%;
    right: -35%;
    width: 70%;
    height: auto;
    animation: aloevera 2s linear 0s infinite alternate;
    @include xsm{
        right: 0%;
    }
}

.truck{
    position: absolute;
    bottom: -2.9%;
    left: 0%;
    width: 30%;
    height: auto;
    // transform: rotate(90deg);
    z-index: -1;
    animation: truck 15s linear 0s infinite;
    @include xsm{
        bottom: -0.9%;
    }
}



@keyframes ror{
    0% {
        transform: rotate(-60deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

@keyframes rose2{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes flower1{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes truck{
    0% {
        transform: translateX(-80%);
    }
    100%{
        transform: translateX(340%);
    }
}

@include xsm{
    @keyframes truck{
        0% {
            transform: translateX(-80%);
        }
        100%{
            transform: translateX(230%);
        }
    }
}

@keyframes aloevera{
    0% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}

.road{
    padding-bottom: 15% !important;
    padding-top: 1% !important;
    border-bottom: 10px dashed #6D6B85;
    @include xsm{
        border-bottom-width: 4px;
    }
}
.order-icon1{
    animation: icon1 600ms ease-in-out infinite alternate;
}
.order-icon2{
    animation: icon2 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.order-icon3{
    animation: icon3 900ms cubic-bezier(0.755, 0.05, 0.855, 0.06) infinite alternate;
}
.order-icon4{
    animation: icon4 3s linear infinite;
}

@keyframes icon1 {
    0%{
        // opacity: 0.3;
        transform: scale(0, 1.5) translateY(10px)
        // color: #6C63FF;
    }
    40%{
        // opacity: 1;
        transform: scale(1, 1) translateY(0px);
        // color: #EF658C;
    }
    
    100%{
        animation-play-state: paused;
    }
}

@keyframes icon2 {
    0%{
        opacity: 0.3;
        transform: translateY(5px) scaleY(0.4) rotateY(80deg);
        // color: #6C63FF;
    }
    40%{
        opacity: 1;
        transform: translateY(-10px) scaleY(1) rotateY(0deg);
        // color: #EF658C;
    }
    
    100%{
        animation-play-state: paused;
    }
}

@keyframes icon3 {
    0%{
        opacity: 0.3;
        transform: scale(0, 0);
        // color: #6C63FF;
    }
    40%{
        opacity: 1;
        transform: scale(1, 1);
        // color: #EF658C;
    }
    
    100%{
        animation-play-state: paused;
    }
}

@keyframes icon4 {
    0%{
        opacity: 0;
        transform: translateX(-100px);
        // color: #6C63FF;
    }
    40%{
        opacity: 1;
        transform: translateX(0px);
        // color: #EF658C;
    }
    
    100%{
        animation-play-state: paused;
    }
}

.main-title {
    font-family: Bodonio;
    font-size: 50px;
    color: #282767;
    // margin-bottom: 4%;
    // margin: 0% 0%;
    margin-bottom: 2%;
    text-align: center;
    @include xsm{
        font-size: 35px;
    }
}

.title {
    @extend .heading;
    text-align: center;
    // margin-top: 2%;
    width: 60%;
    margin: 0 auto;
    color: #6D6B85;
    line-height: 2;
    margin-bottom: 0%;
}

.choose {
    width: 100%;
    height: auto;
    padding: 4% 0%;
    position: relative;

    // background-color: #0A5055;
    @include xsm {
        padding: 10% 0%;
    }

    @include sm {
        padding: 10% 0%;
    }

    .choose-box {
        position: relative;
        width: 100%;
        min-height: 220px;
        padding: 10px;
        // margin: 0 auto;
        margin-bottom: 3%;
        // background-color: #E7F3FF;
        border-radius: 14px;
        transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

        .choose-box-img {
            text-align: center;
            margin-bottom: 8%;

            &.choose-box-img1 {
                img {
                    width: 260px;
                    height: 260px;
                    border-radius: 130px;
                }
            }

            img {
                width: 200px;
                height: 200px;
                border-radius: 100px;
                object-fit: cover;
                transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }
        }


        &:hover {
            // background-color: #ffffff;

            // box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.051);
            .choose-box-img {
                img {
                    border-radius: 4px;
                    // filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.2));
                    transform: scale(1.03);
                }
            }
        }

        @include xsm {
            margin-bottom: 10%;
        }

        @include sm {
            margin-bottom: 10%;
        }

        .choose-box-header {
            @extend .heading;
            margin-bottom: 2%;
        }

        .choose-box-content {
            @extend .text;
            text-align: center;
            // font-family: axiforma-Light;
            margin-top: 1%;
            margin-bottom: 3%;
        }
    }
}

.orders {
    padding: 5% 0%;
    // padding-bottom: 4%;
    // background-color: #E7F3FF;
    // background: linear-gradient(to right, #E7F3FF 0%, #E7F3FF 50%, #ffffff 50%, #ffffff 100%);

    // @include xsm {
    //     background: linear-gradient(to bottom, #E7F3FF 0%, #E7F3FF 80%, #ffffff 80%, #ffffff 100%);
    // }

    // @include sm {
    //     background: linear-gradient(to bottom, #E7F3FF 0%, #E7F3FF 80%, #ffffff 80%, #ffffff 100%);
    // }

    // &.orders1 {
    //     background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #FEE5BD 50%, #FEE5BD 100%) !important;

    //     @include xsm {
    //         background: linear-gradient(to bottom, #FEE5BD 0%, #FEE5BD 80%, #ffffff 80%, #ffffff 100%) !important;
    //     }

    //     @include sm {
    //         background: linear-gradient(to bottom, #FEE5BD 0%, #FEE5BD 80%, #ffffff 80%, #ffffff 100%) !important;
    //     }
    // }

    .order-box {
        position: relative;
        width: 100%;

        &.order-box1 {
            padding-left: 5%;
        }

        .order-subtitle {
            font-family: axiforma-Regular;
            font-size: 12px;
            color: #223076;
            margin-bottom: 0;
        }

        .order-title {
            @extend .heading;

            @include xsm {
                font-size: 22px;
            }

            @include sm {
                font-size: 28px;
            }
        }

        .order-content {
            @extend .text;
            font-size: 16px;
            line-height: 2;
            // text-align-last: left;

            @include xsm {
                font-size: 12px;
            }

            @include sm {
                font-size: 14px;
            }
        }

        .order-btn {
            @extend .web-btn;
            margin-top: 5%;
            background-color: transparent;
            border: 1px solid #223076;
            color: #223076;
            font-family: Recoleta-Medium;

            // &::before{
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 0%;
            //     background-color: #ffffff;
            //     border-radius: 4px;
            //     transition: all 400ms ease;
            //     z-index: -1;
            // }
            &:hover {
                background-color: #FEE5BD;
                // transform: scale(1.01);
                // border-radius: 0px;
                // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.315);
                // background-color: #fff;
                // color: #6C63FF;
                // &::before{
                //     height: 100%;
                // }
            }

            // &.order-btn1{
            //     background-color: #fff;
            //     color: #6C63FF;
            //     box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.102);
            //     // margin-left: 2%;
            // }     
        }

        img {
            width: 80%;
        }
    }
}


// =====================================CHOOSE TABS
.tabs {
    width: 100%;
    height: auto;
    padding: 3% 0% 0% 0%;
    position: relative;

    // background-color: #000000;
    .custom-tab-content {
        padding: 3%;

        &.custom-tab-content1 {
            min-height: auto;
            // background: #000;
            // @include xsm{
            //     min-height: auto;
            // }
            // @include sm{
            //     min-height: auto;
            // }
            // @include md{
            //     min-height: auto;
            // }
        }

        .tab-data {
            color: #ffffff;
            font-family: nunito-Regular;
            font-size: 17px;
            text-align: center;

            @include xsm {
                font-size: 12px;
            }

            @include sm {
                font-size: 14px;
            }
        }
    }

    // ==================================HOW IT WORKS?
    .custom-tabs2 {
        @include xsm {
            flex-wrap: inherit;
            overflow-x: scroll;
        }

        .nav-item {
            position: relative;

            .nav-link {
                color: #6D6B85;
                font-size: 26px;
                font-family: Bodonio;

                @include xsm {
                    font-size: 14px;
                    width: 125px;
                    // background: #000;
                }

                @include sm {
                    font-size: 17px;
                }

                .number {
                    color: #000000;
                    font-size: 30px;
                    border-bottom: 1px solid #6D6B85;
                    transform: rotate(-90deg) translateY(-15px);
                    display: inline-block;
                    // margin-bottom: 7px;
                    padding: 5px 0px;

                    @include xsm {
                        font-size: 16px;
                    }

                    @include sm {
                        font-size: 21px;
                    }
                }

                &.active {
                    @include xsm {
                        outline: none;
                    }

                    @include sm {
                        outline: none;
                    }

                    span {
                        color: #EF658C;
                        // text-transform: uppercase;
                        // background: $how-txt;
                        // -webkit-background-clip: text;
                        // -webkit-text-fill-color: transparent;
                        transition: all 300ms ease;
                    }

                    .number {
                        color: #EF658C;
                    }
                }
            }
        }
    }


    .work-box {
        position: relative;
        width: 152px;
        min-height: 200px;
        padding: 10px;
        // margin: 0 auto;
        margin-bottom: 10%;
        // background-color: #E7F3FF;
        border-radius: 14px;
        transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        cursor: pointer;

        .work-box-img {
            text-align: center;
            margin-bottom: 8%;

            img {
                width: 120px;
                height: 120px;
                border-radius: 60px;
                border: 1px solid #EF658C;
                object-fit: cover;
                transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }
        }


        &:hover {
            background-color: #E7F3FF;

            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.051);

            .work-box-img {
                img {
                    // border-radius: 4px;
                    // filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.2));
                    transform: scale(1.03);
                }
            }
        }

        @include xsm {
            margin-bottom: 10%;
        }

        @include sm {
            margin-bottom: 10%;
        }

        .work-box-header {
            @extend .heading;
            margin-top: 18px;
            margin-bottom: 4px;
            font-size: 14px;
        }

        .work-box-content {
            @extend .text;
            text-align: center;
            // font-family: axiforma-Light;
            margin-top: 1%;
            margin-bottom: 3%;
            font-size: 12px;
        }
    }
}

.order-box {
    position: relative;
    width: 100%;
    text-align: center;

    .order-box-img {
        font-size: 40px;
        color: #EF658C;
    }

    .order-box-header {
        @extend .heading;
        color: #6D6B85;
        margin-top: 18px;
        margin-bottom: 4px;
        font-size: 15px;
        line-height: 1.6;
    }
}

.gallery {
    position: relative;
    width: 100%;
    height: 300px;
    transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.051);
        transform: scale(1.05, 1.2);
        z-index: 99;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.order-subtitle {
    margin-top: 4%;
}

.order-btn {
    @extend .web-btn;
    width: 30%;
    // margin-bottom: 3%;
    background-color: #EF658C;
    opacity: 0.7;
    // border: 1px solid #F8E3E1;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &:hover {
        opacity: 1;
        // background-color: #282767;
        color: #ffffff;
        border-radius: 4px;
        // transform: translateY(-10px);
    }
}


.people {
    padding: 3% 0%;


    .comment {
        margin: 3% 0%;
        position: relative;
        background: linear-gradient(to right, #E7F3FF 0%, #E7F3FF 50%, #ffffff 50%, #ffffff 100%);

        @include xsm {
            background: linear-gradient(to bottom, #E7F3FF 0%, #E7F3FF 50%, #ffffff 50%, #ffffff 100%);
        }

        @include sm {
            background: linear-gradient(to bottom, #E7F3FF 0%, #E7F3FF 50%, #ffffff 50%, #ffffff 100%);
        }

        .comment-box {
            position: relative;
            width: 100%;

            &.comment-box1 {
                padding: 5%;
            }

            img {
                margin-left: auto;
                width: 80%;

                @include xsm {
                    margin: 0;
                }

                @include sm {
                    margin: 0;
                }
            }

            .comment-content {
                @extend .text;
                width: 80%;

                @include xsm {
                    width: 100%;
                }

                @include sm {
                    width: 100%;
                }
            }

            .comment-name {
                @extend .heading;
                margin-bottom: 0;
            }

            .comment-subname {
                font-family: axiforma-Regular;
                color: #223076;
                font-size: 14px;
            }
        }

    }
}

#feature.owl-theme .owl-nav {

    // text-align: left;
    .owl-prev {
        color: #223076;
        background-color: transparent;
        padding: 0;
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 0;

        @include xsm {
            top: 20%;
        }

        @include sm {
            top: 20%;
        }

        // i{
        //     background: $choose-txt;
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        //     display: inline;
        // }
    }

    .owl-next {
        color: #223076;
        background-color: transparent;
        padding: 0;
        font-size: 20px;
        position: absolute;
        top: 45%;
        right: 0;

        @include xsm {
            top: 20%;
        }

        @include sm {
            top: 20%;
        }

        // i{
        //     background: $choose-txt;
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        //     display: inline;
        // }
    }
}

.modal{
    animation: modal 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes modal {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
.modal-content{
    height: 460px;
    width: 460px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .modal-title{
            color: #EF658C;
            // font-family: Bodonio;
            font-family: Zabritzkyes;
            margin-bottom: 7%;
        }
        .contact-number{
            color: #ffffff;
            font-family: axiforma-SemiBold;
            // font-family: Zabritzkyes;
            margin-bottom: 13%;
            span{
                color: #EF658C;
            }
        }
    }
    .custom-btn{
        @extend .web-btn;
        width: 150px;
        // margin-bottom: 3%;
        background-color: #EF658C;
        opacity: 0.7;
        // border: 1px solid #F8E3E1;
        color: #ffffff;
        text-transform: uppercase;
        transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
        &:hover {
            opacity: 1;
            // background-color: #282767;
            color: #ffffff;
            border-radius: 4px;
            // transform: translateY(-10px);
        }
    }
}



// footer
footer {
    background-color: #EF658C;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2% 0%;

    .footer-heading {
        color: #ffffff;
        margin-top: 3%;
        padding: 2px 0px;
        font-family: Recoleta-Medium;
        font-weight: 100;
        font-size: 14px;
    }

    .footer-list {
        position: relative;
        width: 100%;

        .footer-li {
            padding: 0px 0px;
            margin: 0;

            .footer-link {
                // color: rgb(223, 223, 223);
                color: #737B8B;
                font-size: 14px;
                font-family: axiforma-Regular;
                transition: all 300ms ease;

                &:hover {
                    color: #6C63FF;
                    text-decoration: none;
                }
            }
        }

        .footer-addr {
            // padding: 10px 0px;
            padding: 10px 0px 0px 0px;
            margin: 0;

            .addr-iocn {
                color: white;
                padding: 0px 10px;

                @include xsm {
                    padding: 0px 4px;
                }
            }

            .addr-details {
                padding: 0;
                margin: 0;
                font-family: axiforma-Regular;
                font-weight: normal;
                font-size: 12px;
                color: white;
            }
        }
    }

    .footer-info {
        position: relative;
        text-align: center;

        // top: 16%;
        a {
            color: #ffffff;
            margin-bottom: 10px;
            font-family: Zabritzkyes;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            width: 70%;
        }

        .footer-info-text {
            font-family: axiforma-Regular;
            font-size: 14px;
            color: #FFFFFF;
        }
    }

    .social-media {
        width: 190px;
        // background-color: #fff;
        // display: inline-flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;

        // padding: 10px 0px;
        // margin: 0 auto;
        .social-list {
            color: #F4CDC9;
            // padding: 15px 10px;
            // width: 32px;
            // height: 32px;
            margin-right: 5px;
            // background-color: #ffffff;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            .social-links {
                &:hover {
                    // background-color: #5F69D4;
                    color: #ffffff;
                    // border: 1px solid #5F69D4;
                    // text-shadow: 6px 3px 8px rgba(39, 39, 39, 0.5);
                    // text-align: center;
                    // padding: 15px 10px;
                    // background-color: yellow;
                    // border-radius: 50px;
                }
            }
        }

        .social-links {

            width: 32px;
            height: 32px;
            color: #F4CDC9;
            // background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            // border: 1px solid #ECECEC;
            border-radius: 2px;
            transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
            // text-shadow: 6px 3px 8px rgba(39, 39, 39, 0.5);
            // text-align: center;
            // padding: 15px 10px;
            // background-color: yellow;
            // border-radius: 50px;
        }
    }
}

.copyrights {
    background-color: #EF658C;
    padding: 2% 0%;

    .copyrights-data {
        color: #ffffff;
        font-family: axiforma-Regular;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 2px;
        text-align: center;
    }
}



// =====================================
// =====================================